extends ./common/layout.jade

block head_style
    link(type="text/css" rel="stylesheet" href="/css/page/login.css")

block body
    div(class='login')
        h3(class='text-center text-primary') 登录
        form(class='form-horizontal' action="/signin" method="POST")
            div(class='form-group')
                label(for="username" class="col-sm-2 control-label") 用户名
                    span(class='text-red') *
                div(class="col-sm-10")
                    input(type='input' class="form-control" id='username' placeholder="用户名")
            div(class='form-group')
                label(for="password" class="col-sm-2 control-label") 密码
                    span(class='text-red') *
                div(class="col-sm-10")
                    input(type='input' class="form-control" id='password' placeholder="密码")
            div(class='row')
                div(class="col-sm-2")
                div(class='col-sm-10')
                    button(class='btn btn-primary j-btn-signin' type="submit") 登录