/* lib */
.clearfix:after {
    clear: both;
    content: ' ';
    display: table;
}

.mr-10 {
    margin-right: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* layout  */
.layout {
    width: 100%;
}

.layout > .col-main, .layout > .col-sub {
    float: left;
}

.layout > .col-main {
    width: 100%;
}

.layout > .col-main > .col-main-wraper {
    overflow: hidden;
    margin-right: 320px;
}

.layout > .col-sub {
    margin-left: -300px;
    width: 300px;
}


/* body */
.body {
    width: 1020px;
    margin: 0 auto;
    padding-top: 90px;
}

/* header */
.nav {
    height: 60px;
}

.nav-fixed {
    position: fixed;
    top:0px;
    width: 100%;
    border-top: 2px solid green;
    background-color: #fafafa;
    z-index: 1;
}

.nav-bd {
    width: 1020px;
    margin: 0 auto;
}

.nav-bd-l {
    float: left;
}

.nav-bd-r {
    float: right;
}

.logo img {
    height: 50px;
    width: 50px;
}

/* search  */
.search-box {
    position: relative;
    margin-top: 10px;
}

.search-form {
    position: absolute;
}

.search-input {
    position: relative;
}


.search-box input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 20px 2px 5px;
}

.search-box .btn-search {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
}

.login-area{
    margin-top: 10px;
}

/* ddd  */
.nav-setting {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 0 20px 20px 20px;
}

.nav-list {
    position: absolute;
    top: 25px;
    right: 0;
    width: 70px;
    border: 1px solid #999;
    border-radius: 2px;
    display: none;
}

.nav-list li {
}

.nav-list li a {
    display: block;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.nav-list li a:hover {
    background-color: #ddd;
}

.nav-setting:hover ul.nav-list {
    display: block;
}


/* post */
.post-box {
    position: relative;
    width: 100%;
    margin-right: 100px;
}

.post-box + .post-box {
    margin-top: 20px;
}

.post-main {
    margin-left: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.post-title {
    margin: 0px 0px 15px 0px;
}

.post-content {
    margin-bottom: 15px;
}

.post-extra {
    position: relative;
    color: #aaa;
}

.post-other {
    position: absolute;
    right: 10px;
    top: 0;
}

.post-sub {
    position: absolute;
    left: 0;
    top: 0;
}

.post-avatar img {
    width: 80px;
    height: 80px;
}