/* lib */
.clearfix:after {
    clear: both;
    content: ' ';
    display: table;
}

/* layout  */
.layout {
    width: 100%;
}

.layout > .col-main, .layout > .col-sub {
    float: left;
}

.layout > .col-main {
    width: 100%;
}

.layout > .col-main > .col-main-wraper {
    margin-right: 320px;
}

.layout > .col-sub {
    margin-left: -300px;
    width: 300px;
}

/* body */
.body {
    width: 1020px;
    margin: 0 auto;
}

/* header */
.header {
    margin-bottom: 30px;
    position: relative;
}

.nav-setting {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 0 20px 20px 20px;
}

.nav-list {
    position: absolute;
    top: 25px;
    right: 0;
    width: 70px;
    border: 1px solid #999;
    border-radius: 2px;
    display: none;
}

.nav-list li {
}

.nav-list li a {
    display: block;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.nav-list li a:hover {
    background-color: #ddd;
}

.nav-setting:hover ul.nav-list {
    display: block;
}


/* post */
.post-item {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.post-main {
    margin-left: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.post-title {
    margin: 0px 0px 15px 0px;
}

.post-content {
    margin-bottom: 15px;
}

.post-extra {
    position: relative;
    color: #aaa;
}

.post-time {
    margin-right: 100px;
}

.post-other {
    position: absolute;
    right: 10px;
    top: 0;
}

.post-sub {
    position: absolute;
    left: 0;
    top: 0;
}

.post-avatar img {
    width: 80px;
    height: 80px;
}