div(class='comment')
	div(clas='comment-title')
		h2 留言板
	div(class='comment-input')
		div(class='comment-input-group')
			label 用户名
			div
				input(type='text')
		div(class='comment-input-group')
			label 内容
			div
				input(type='text')
	div(class='comment-list')
		div(class='comment-item')
			div(class='comment-main')
				div(class="comment-conent")
				div(class='comment-extra')
			div(class='comment-sub')
					
