doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        //- link(rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico")
        block header_lib
            include lib.jade
        block head_style
        block head_script
    body
        block header
            include header.jade
        block body
        block footer
            include footer.jade
        block body_script
