extends ./common/layout.jade

block head_style
    link(type="text/css" rel="stylesheet" href="/css/admin.css")

block body
    div.admin-wrap
        div.main-wrap
            
        div.left-wrap
            include ./common/left.jade