extends common/layout.jade

block head_style
    link(type='text/css' rel='stylesheet' href='/css/common.css')

block header
    div(class='header')
        h2(class='text-center') myblog
        p(class='text-center') this is my design
        div(class='nav-setting glyphicon glyphicon-menu-hamburger')
            ul(class='nav-list')
                li
                    a(href='#') 登录
                li
                    a(href='#') 注册
                li
                    a(href='#') 个人主页
                li
                    a(href='#') 发表文章
                li
                    a(href='#') 登出

block body
    div(class='body')
        div(class='content')
            div(class="post-list")
                div(class='post-item')
                    div(class='post-main')
                        h3(class='post-title') hello world
                        p(class='post-content') 这是正文, 这是正文
                        div(class='post-extra')
                            div(class='post-time') 2012-10-23
                            div(class='post-other')    
                                span(class='post-read-num') 浏览(4)
                                span(class='post-comment-num') 留言(1)
                    div(class='post-sub')
                        div(class='post-avatar')
                            img(src='/img/avatar.jpg' width='100px' height='100px')
                div(class='post-item')
                    div(class='post-main')
                        h3(class='post-title') hello world
                        p(class='post-content') 这是正文, 这是正文
                        div(class='post-extra')
                            div(class='post-time') 2012-10-23
                            div(class='post-other')    
                                span(class='post-read-num') 浏览(4)
                                span(class='post-comment-num') 留言(1)
                    div(class='post-sub')
                        div(class='post-avatar')
                            img(src='/img/avatar.jpg' width='100px' height='100px')