extends common/layout.jade

block header
    include common/header.jade

block body
    div(class='body')
        div(class='layout clearfix')
            div(class='col-main')
                div(class='col-main-wraper')
                    div(class="post-list")
                        include ./common/post-box.jade
                        include ./common/post-box.jade
            div(class='col-sub')
                div(class='sub-module module-recommend')
                    div(class='module-title')
                        span 推荐作者
                    div(class='module-body')
                        div(class='list')
                            div(class='list-item')
                                div(class='item-left')
                                div(class='item-main')
                                    div(class='item-title') 范龙
                                    div(class='item-sub') 这是范龙，超级无敌
                                div(class='item-reload') 换一换
                                
                

        