div(class='header')
    h2(class='text-center') myblog
    p(class='text-center') this is my design
    div(class='nav-setting glyphicon glyphicon-menu-hamburger')
        ul(class='nav-list')
            if !user
                li
                    a(href='/signin') 登录
                li
                    a(href='/signup') 注册
            else
                li
                    a(href='/') 个人主页
                li
                    a(href='/') 发表文章
                li
                    a(href='#') 登出