<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title blog
    link(type="text/css" rel="stylesheet" href="/css/bootstrap.css")
    script(src="/js/lib/jquery-1.11.3.js")
    script(src="/js/lib/bootstrap.js")
    block style
    block script
body
    block head
    block body
    block footer
    