<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        link(rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico")
        include lib_css.jade
        include lib_js.jade
        block head_style
        block head_script
    body
        block header
        block body
        block footer
        block body_script
