link(type="text/css" rel="stylesheet" href="/css/reset.css")
link(type="text/css" rel="stylesheet" href="/css/bootstrap.css")
link(type="text/css" rel="stylesheet" href="/css/common.css")
script(src="/js/lib/jquery-1.11.3.js")
script(src="/js/lib/bootstrap.js")
script(src="/js/common.js")