div(class='post-box')
    div(class='post-main')
        h3(class='post-title') hello world #{data}
        p(class='post-content') 这是正文, 这是正文
        div(class='post-extra')
            div(class='post-time') 2012-10-23
            div(class='post-other')    
                span(class='post-read-num') 浏览(4)
                span(class='post-comment-num') 留言(1)
    div(class='post-sub')
        div(class='post-avatar')
            img(src='/img/avatar.jpg' width='100px' height='100px')